div{
  display: flex;
  justify-content: flex-end;
  min-width: 200px;
  width: 25%;
  margin: 20px auto;

  span{
    padding: 0 2px;
    background: #fff;
  }

  button{
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    line-height: 1.2rem;

    
    &.prev{
      border: 0 solid transparent;
      border-radius: 50px 0 0 50px;
      background: #fff;
    }

    &.next{
      border: 0 solid transparent;
      border-radius: 0 50px 50px 0;
      background: #fff;
    }
  }
}